.bookmark {
	background-image: url("../../icons/bookmark.svg");
	background-size: contain;
	height: 50px;
	width: 50px;
	position: absolute;
	right: 30px;
	top: -30px;
	z-index: 1;
	cursor: pointer;
	transform: rotate(0deg);
}