.squid {
	background-image: url("../../images/squid.png");
	background-size: cover;
	width: 25vw;
	height: 25vw;
	max-width: 150px;
	max-height: 150px;
	position: fixed;
	left: calc(5vw - 30px);
	bottom: 80px;
	z-index: 1;
}

.squid:hover {
	background-image: url("../../images/squid_happy.png");
}

.squid--wrong {
	background-image: url("../../images/squid_thinking.png");
}

.squid--correct {
	background-image: url("../../images/squid_happy.png");
}