.section {
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.section--active {
	display: block;
}

.questions__toggle-bookmarks {
	padding: 10px 10px 10px 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	border: 2px solid rgb(var(--white));
	border-radius: 0 20px 20px 0;
	border-left: 0;
	cursor: pointer;
	z-index: 1;
}

.questions__toggle-icon {
	opacity: 0.3;
	width: 50px;
	height: 50px;
	transition: 0.3s;
}

.questions__toggle-bookmarks--active .questions__toggle-icon {
	opacity: 1;
}

#section__create {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 120px;
	overflow-y: auto;
}